hospital kpi dashboard webhook.json
{
  "name": "hospital kpi dashboard webhook",
  "nodes": [
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ikogvXfeZpLcDsLfUb3E61BspsY682Taj2vQT2TKY88",
          "mode": "list",
          "cachedResultName": "hospital KPI dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ikogvXfeZpLcDsLfUb3E61BspsY682Taj2vQT2TKY88/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1757487050,
          "mode": "list",
          "cachedResultName": "today_data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ikogvXfeZpLcDsLfUb3E61BspsY682Taj2vQT2TKY88/edit#gid=1757487050"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.date }}",
            "Department": "={{ $json.department }}",
            "Bed_Occupancy_%": "={{ $json.bed_occupancy }}",
            "Avg_Wait_Time_Min": "={{ $json.wait_time }}",
            "Billing_Collection_%": "={{ $json.billing_collection }}",
            "Lab_TAT_Min": "={{ $json.lab_tat }}",
            "NPS": "={{ $json.nps }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bed_Occupancy_%",
              "displayName": "Bed_Occupancy_%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Avg_Wait_Time_Min",
              "displayName": "Avg_Wait_Time_Min",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Billing_Collection_%",
              "displayName": "Billing_Collection_%",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lab_TAT_Min",
              "displayName": "Lab_TAT_Min",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NPS",
              "displayName": "NPS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -720,
        16
      ],
      "id": "76331ea3-064c-432f-af27-303ef3928e44",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YRCTOmsHzdS7Clg7",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ikogvXfeZpLcDsLfUb3E61BspsY682Taj2vQT2TKY88",
          "mode": "list",
          "cachedResultName": "hospital KPI dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ikogvXfeZpLcDsLfUb3E61BspsY682Taj2vQT2TKY88/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "historical_kpi Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ikogvXfeZpLcDsLfUb3E61BspsY682Taj2vQT2TKY88/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -496,
        16
      ],
      "id": "3a8f2c6a-8bd0-4bd0-9c04-d5a7a256bd51",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YRCTOmsHzdS7Clg7",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Hospital KPI Analytics Agent.\n\nYour task is to detect anomalies in today's KPI data compared to the historical dataset.\n\nTODAY KPI DATA:\ndepartment:{{ $('Webhook').item.json.body.department }}\nbed occupancy:{{ $('Webhook').item.json.body.bed_occupancy }}\navg_wait_time:{{ $('Webhook').item.json.body.wait_time }}\nbilling _collection:{{ $('Webhook').item.json.body.billing_collection }}\nlab_TAT_min:{{ $('Webhook').item.json.body.lab_tat }}\nNPS:{{ $('Webhook').item.json.body.nps }}\n\nHISTORICAL DATASET:\n{{ JSON.stringify($items().map(i => i.json)) }}\n\nKPIs to analyze:\n- Bed_Occupancy_%\n- Avg_Wait_Time_Min\n- Billing_Collection_%\n- Lab_TAT_Min\n- NPS\n\nSteps:\n1. Extract today's department from TODAY KPI DATA.\n2. Filter HISTORICAL DATASET to keep only rows with the same Department.\n3. Use up to the last 7 rows for that department.\n4. Compute the average baseline for each KPI.\n5. Calculate deviation:\n\nDeviation % = ((Today - Baseline) / Baseline) * 100\n\n6. If deviation magnitude > 15%, mark as anomaly.\n\nReturn ONLY JSON.\n\nIf anomaly detected:\n\n{\n \"department\": \"\",\n \"kpi\": \"\",\n \"today_value\": \"\",\n \"baseline_value\": \"\",\n \"deviation_percent\": \"\",\n \"anomaly_detected\": true,\n \"insight\": \"\",\n \"recommended_action\": \"\",\n \"priority\": \"High | Medium | Low\"\n}\n\nIf no anomaly detected:\n\n{\n \"message\": \"No KPI anomalies detected today\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        368,
        0
      ],
      "id": "47e2273d-18e5-41d0-824f-53989f65d25e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3a01089b-3ebb-4a1a-a515-167f8b124e8f",
              "leftValue": "={{$json.Date}}",
              "rightValue": "={{ $('Append row in sheet').item.json.Date }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        16
      ],
      "id": "b327c1ad-64a6-4acf-a5b2-b596f86ca0f3",
      "name": "If1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Department"
            },
            {
              "fieldToAggregate": "Bed_Occupancy_%"
            },
            {
              "fieldToAggregate": "Avg_Wait_Time_Min"
            },
            {
              "fieldToAggregate": "Billing_Collection_%"
            },
            {
              "fieldToAggregate": "Lab_TAT_Min"
            },
            {
              "fieldToAggregate": "NPS"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a947132d-6387-4e1e-b0b9-2b52663e3b46",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        208
      ],
      "id": "d352cd15-6601-41a8-a7bd-d79a9b9d6a5e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jqiYNoE57zFRRIOZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"department\": {\n      \"type\": \"string\"\n    },\n    \"kpi\": {\n      \"type\": \"string\"\n    },\n    \"today_value\": {\n      \"type\": \"number\"\n    },\n    \"baseline_value\": {\n      \"type\": \"number\"\n    },\n    \"deviation_percent\": {\n      \"type\": \"string\",\n      \"description\": \"The percentage deviation expressed as a string with a percent sign, e.g., '936.81%'\"\n    },\n    \"anomaly_detected\": {\n      \"type\": \"boolean\"\n    },\n    \"insight\": {\n      \"type\": \"string\"\n    },\n    \"recommended_action\": {\n      \"type\": \"string\"\n    },\n    \"priority\": {\n      \"type\": \"string\",\n      \"enum\": [\"High\", \"Medium\", \"Low\"]\n    }\n  },\n  \"required\": [\n    \"department\", \n    \"kpi\", \n    \"today_value\", \n    \"deviation_percent\", \n    \"anomaly_detected\", \n    \"insight\", \n    \"recommended_action\"\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        544,
        208
      ],
      "id": "3f4ddf4a-f1c3-47ba-a670-16b92952c209",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "sendTo": "nsaishrinivas@gmail.com",
        "subject": "your daily hospital KPI report",
        "emailType": "text",
        "message": "=my respected user,\n\nThe entered KPI values has made to some insights and anomalies,\nhere they are given below.\n\n\nFor the department,{{ $json.output.department }}. we have anomally in {{ $json.output.kpi }} having a value {{ $json.output.today_value }}  . with a deviation percent of {{ $json.output.deviation_percent }} . anomaly detected = {{ $json.output.anomaly_detected }}. \n\n\ninsights:\n\n{{ $json.output.insight }}\n\n\nrecommended actions:\n\n{{ $json.output.recommended_action }}\n\nThe priority is :{{ $json.output.priority }}\n\n\n\n\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        992,
        0
      ],
      "id": "1e16c8d1-212c-4d8d-904c-8ff16d8d4dbc",
      "name": "Send a message",
      "webhookId": "7c9f0a72-f859-40ac-92a8-53d7c3b5a7db",
      "credentials": {
        "gmailOAuth2": {
          "id": "c6sbq6KhqWA64FSB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hospital-kpi-dashboard",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -960,
        16
      ],
      "id": "db774fb8-8164-49b1-b4bc-013274979560",
      "name": "Webhook",
      "webhookId": "c9837be2-6145-4d12-8d70-32642f36edff"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\": \"{{ $('AI Agent').item.json.output.insight }},{{ $('AI Agent').item.json.output.recommended_action }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1312,
        0
      ],
      "id": "db7191d8-8b16-4f0b-98e6-c941eea4b142",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fe0ba8a0-8c29-4ced-a368-daecb7587906",
  "meta": {
    "instanceId": "2a3b648667700f808165eb68ac04a930da78317297b556b7de02a60288adb4be"
  },
  "id": "aTMM8g5btKKnO5HG",
  "tags": []
}